

@{
    ViewBag.Title = "AboutCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hakkımızda Yazısı</h2>

<form method="post">
    <label>S.N</label>
    <input type="text" class="form-control" name="AboutID" />
    <br />
    <label>İçerik</label>
    <input type="text" class="form-control" name="Desscription" />
    <br />

    <button class="btn btn-info">Yazıyı Kaydet</button>

</form>