<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Diger/muguırlu_2022.jpeg);"></a>
        <ul class="list-unstyled components mb-5">
            <li> <a href="#">Portfolyo</a> </li>
            <li>
                <a href="#">Hakkımda</a>
            </li>
            <li>
                <a href="/Project/CreateProject/">Yeni Proje Girişi</a>
            </li>
            <li>
                <a href="/Service/ServiceList/">Hizmetler</a>
            </li>
            <li>
                <a href="#">İstatistikler</a>
            </li>

            </li>
            <li>
                <a href="/Project/Index/">Projeler</a>
            </li>
            <li>
                <a href="/Adress/Index">İletişim Bilgileri</a>
            </li>
            <li>
                <a href="#">Gelen Mesajlar</a>
            </li>
            <li>
                <a href="#">Ayarlar</a>
            </li>
            <li>
                <a href="#">Çıkış</a>
            </li>
        </ul>

        <div class="footer">
            <p>
               
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır  </a>
                
            </p>
        </div>

    </div>
</nav>

