@model DevFolio.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Servis Ekleme</h2>
<form method="post">
    <label>Servis Adı</label>
    <input type="text" class="form-control" name="ServiceTitle" value="@Model.ServiceTitle"/>
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" value="@Model.Description" />
    <br />
    <label>Servis Görseli</label>
    <input type="text" class="form-control" name="ServiceImageUrl" value="@Model.ServiceImageUrl" />
    <br />
    <button class="btn btn-info">Servisi Güncelle</button>

</form>
