
@{
    Layout = null;
}

<div style="margin-left:300px; background-color:yellowgreen; margin-right:300px;">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız </label>
    <input type="text" />
    <br />
    <label>Mail Adresiniz </label>
    <input type="text" />
    <br />
    <label>Mesaj Konusu </label>
    <input type="text" />
    <br />
    <label>Mesajınız</label>
    <textarea rows="12" /></textarea>
    <br />
    <button>Gönder</button>
</div>