
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Adres Bilgileri Girişi</h2>

<label>Adres:</label>
<input type="text" class="form-control" />
<br />
<label>Tel:</label>
<input type="text" class="form-control" />
<br />
<label>E-Posta:</label>
<input type="text" class="form-control" />
<br />
<button class="btn btn-info">Adresi Kaydet</button>

