@model List<DevFolio.Models.TblFeature>
@{
    ViewBag.Title = "FeatureList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Özellik Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>S.N</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FeaturedID</td>
            <td>@item.HeaderTitle</td>
            <td>@item.HeaderDescription</td>
            <td><a href="/Feature/DeleteFeature/@item.FeaturedID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Feature/UpdateFeature/@item.FeaturedID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<td><a href="/Feature/CreateFeature/" class="btn btn-info">Yeni Özellik Ekle</a></td>

