@model List<DevFolio.Models.TblSocialMedia>

    @{
        ViewBag.Title = "SocialMediaList";
        Layout = "~/Views/AdminLayout/Index.cshtml";
    }

    <h2>Sosyal Medya Hesapları</h2>

    <table class="table table-bordered">
        <tr>
            <th>S.N.</th>
            <th>Başlık</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SocialMediaID</td>
                <td>@item.PlatformnName</td>
                <td>@item.Status</td>
                <td><a href="/SocialMedia/SocialMediaDelete/@item.SocialMediaID" class="btn btn-danger">Sil</a></td>
                <td><a href="/SocialMedia/SocialMediaUpdate/@item.SocialMediaID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>

    <td><a href="/SocialMedia/SocialMediaCreate" class="btn btn-info" >Yeni Sosyal Medya Girişi</a></td>
