
@{
    ViewBag.Title = "SocialMediaCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Hesabı Ekleme</h2>
<form method="post">
    <label>Platform Adı</label>
    <input type="text" class="form-control" name="PlatformnName" />
    <br />
    <label>İkon Linki</label>
    <input type="text" class="form-control" name="IconUrl" />
    <br />
    <label>Hesap Linki</label>
    <input type="text" class="form-control" name="RedirectUrl" />
    <br />
    <label>Status</label>
    <input type="text" class="form-control" name="Status" />
    <br />
    <button class="btn btn-info">Yeteneği Kaydet</button>

</form>

