
@{
    ViewBag.Title = "CategoryCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Kategori Girişi</h2>

<form method="post">
    <label>S.N</label>
    <input type="text" class="form-control" name="CategoryID" />
    <br />
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <button class="btn btn-info">Kategoriyi Kaydet</button>

</form>
