
@{
    Layout = null;
}

<h3>Merhaba Dünya</h3>
<h4>DevFolio Projesi</h4>

<div style="background-color:cadetblue">Burası bir divdir</div>
<br />
<div style="background-color:mediumvioletred">Burası bir 2. divdir</div>
<br />
<a href="http://google.com">Google Git</a>
<hr />
<a href="http://google.com">Google Gitme</a>