
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />

<div class="container">
    <h3>Yeni Mesaj Sayfası</h3>
    <br />
    <label>Adınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>E-Postanız</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-success"> Gönder</button>
</div>