@model DevFolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Güncelleme</h2>
<form method="post"
<label>Proje Adı</label>
<input type="text" class="form-control" name="Title" value="@Model.Title"/>
<br />
<label>Proje Kategorisi</label>
<input type="text" class="form-control" name="ProjectCategoryID" value="@Model.ProjectCategoryID" />
<br />
<label>Oluşturma Tarihi</label>
<input type="text" class="form-control" name="CreatedDate" value="@Model.CreatedDate" />
<br />
<label>Proje Görseli</label>
<input type="text" class="form-control" name="CoverImageUrl" value="@Model.CoverImageUrl" />
<br />
<label>Proje Açıklaması:</label>
<textarea rows="5" class="form-control"></textarea>
<br />
<button class="btn btn-info">Projeyi Kaydet</button>

    </form>
